.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}

html {
  width:100%;
  height: 100%;
  background-color: white;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Cormorant Garamond", serif;
  color:white;
  display:table;
  /* font-size: 10px; */

  /* for cover shading */
  position: relative;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  background-image: url("../images/pexels-fauxels-3182826.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-attachment: left top; 
  background-size: 100% 100%;
  z-index: 0;
}

.row {
  min-height: 150px; 
  margin-bottom:30px;
}

.parallax {
  background-image: url(../images//pexels-fauxels-3182826.jpg);
  /* image height */
  /* min-height: 500px; */
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* turn effect off */
/* @media only screen and (max-device-width: 1366px){
  .parallax{
    background-attachment: scroll;
  }
} */

#cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#navigation-bar-container a.navbar-brand,
#navbar ul a {
  font-weight:500; 
}

#navigation-bar-container a.navbar-brand {
  font-size: 1.5rem;
}

#navbar ul a {
  font-size: 1.5rem;
}

#navigation-bar-container {
  margin: auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  #navigation-bar-container {
    width: 50%;
  }
}

#center-content {
  width: 80%;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}

#footer-content {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}


header img {
  /* border: 1px solid gray; */
  height: 75px;
  width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: rgb(162, 178, 182);
}

.navbar a {
  font-size: 24px;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

main {
  top: 2;
  margin-top: 20px;
  width: auto;
  color: rgb(172, 25, 25);
  /*border: 1px solid blue;*/
}

h1,
h2,
h3,
p {
  text-align: center;
}

.first-container {
  height: 800px;
  /* background-image: url('../images/pexels-fauxels-3182826.jpg'); */
  /* opacity: 50%; */

  /* background-size: cover; */
  /* padding: 20px; */
  /* margin: 20px; */
  /* background-color: rgb(255, 255, 255); */
  color: white;
}

.first-container p {
  font-size: 26px;
}

.story-container {
  display: flex;
}

.story-column {
  flex: 1;
  padding: 20px;
}

.story-column:nth-child(odd) {
  background-color: #f0f0f0;
}

.story-column:nth-child(even) {
  background-attachment: #e0e0e0;
}

.story-column+.story-column {
  margin-left: 20px;
}